body {
  margin: 0;
  height: 100%;
}

#ballCounter {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 42px;
  font-family: Arial, sans-serif;
  color: blueviolet;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 15px;
  border-radius: 8px;
  pointer-events: none;
}

#gameMessage {
  display: grid;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-family: sans-serif;
  z-index: 1000;
}

/* css for mobile users! */
@media (max-width: 900px) {
  #ballCounter {
    font-size: 36px;
  }

  #gameMessage {
    left: 20%;
    transform: translateY(300%);
    font-size: 13px;
  }

  #shootButton {
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.4);
    border-color: rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 8px;
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 100px;
  }

  #shootButton:disabled {
    color: rgb(76, 76, 76);
  }

  #mobileButtons {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
